.sidecontentbox {
    position:relative;
}

.sidecontentbox .content .author[href$="/gambs"] {
    margin-top:26px;
    display:inline-block;
}

.sidecontentbox .helplink {
    width: calc(100% - .5em);
    background: rgb(240,220,200);
    border:solid 1px #1d2f2f;
    color:#3e3723;
    padding:.25em;
    text-align:center;
    font-size:small;
    font-weight:bold;
}

.sidecontentbox .helplink:hover {
	background: rgb(80,70,50);
    color:#fff7e2;
}