

/*.tabmenu {
  position:absolute;
  top: 128px;
  right: 0px;
  font-size: x-small;
  left: 50px;
  margin-top: 109px;
}*/

/* nice looking tabmenu stolen from /r/onepunchman, ty guys */ 
.tabmenu li{display:inline;text-transform:uppercase;font-weight:lighter;font-size:16px;margin:0 3px}
.tabmenu li a{padding:5px 10px 0 6px;background-color:transparent;font-family:lato,verdana,sans-serif;font-size:12px}
.tabmenu a:hover{color:#FFF;transition:color .15s ease-in-out}
.tabmenu li.selected a{color:#FFF;font-weight:700;text-shadow:0 0 6px #FFF;background-color:transparent;border:none;border-bottom:none;z-index:100}#header 
.tabmenu{z-index:1;display:inline-table!important;position:absolute;top:146px;right:0;left:0;height:30px;min-width:500px;background-color:#eaf2fe;list-style-type:none;text-align:left;white-space:nowrap;font-size:15px;padding:10px 25px 0 15px;transition:all .3s ease}
#header .tabmenu:before{position:absolute;content:'';display:block;height:0;width:0;border-style:solid;border-width:20px;border-color:transparent #F0F1F3 #F0F1F3 transparent;bottom:0;right:0}



@-webkit-keyframes scrollLeft {
  0% {
    background-position: 0px 0px; }
  100% {
    background-position: -2880px 0px; } }
@-moz-keyframes scrollLeft {
  0% {
    background-position: 0px 0px; }
  100% {
    background-position: -2880px 0px; } }
@-ms-keyframes scrollLeft {
  0% {
    background-position: 0px 0px; }
  100% {
    background-position: -2880px 0px; } }
@-o-keyframes scrollLeft {
  0% {
    background-position: 0px 0px; }
  100% {
    background-position: -2880px 0px; } }
@keyframes scrollLeft {
  0% {
    background-position: 0px 0px; }
  100% {
    background-position: -2880px 0px; } }




.side .md h5 a {
    left: 4px;
    list-style: none;
    position: absolute;
    /*top: 77px;   */
    top: 23px;
    z-index: 200;
    background-color: #5487ad;
    border: 1px solid #487394;
    text-shadow: 0px 2px 0px #487394;
    color: #fff;
    display: inline-block;
    font-weight: normal;
    padding: 1px 8px 1px 10px;
    text-decoration: none;
    border-radius: 3px;
    margin-bottom: 15px;
    width: relative;
    text-align: center;
    font-size: 13px;
    line-height: 22px;
    animation: slowAppear 1000ms ease-in-out;
    -webkit-animation: slowAppear 1000ms ease-in-out;
}
.side .md h5 a:hover {
    background-color:#4e7da1;
    border: 1px solid #487394;
}
.side .md h5 a:before {
    margin:0 0px 0 0px;
    padding:0px 4px 0px 0px;
    content:"Upcoming discussions";
    color:#fff;
    font-weight:normal;
}

@keyframes slowAppear {
  0%,70% {opacity:0}
  100%  {opacity:1}
}
@-webkit-keyframes slowAppear {
  0%,70% {opacity:0}
  100%  {opacity:1}
}

@keyframes slowAppear2 {
  0%,50% {opacity:0}
  100%  {opacity:1}
}
@-webkit-keyframes slowAppear2 {
  0%,50% {opacity:0}
  100%  {opacity:1}
}