$color_primary: rgb(14,32,41); /* dark black/blue */
$color_secondary: rgb(138,62,72); /* red/maroon */
$color_tertiary: rgb(201,197,87); /* gold/yellow */
$color_extra: rgb(24,72,94); /* light blue-ish */
$color_light: rgb(205,204,185); /* pale yellow / white */

body {
	@include sprite-image($iron-grip);
	@include sprite-position($iron-grip);
	background-size: $iron-grip-width $iron-grip-height;
	background-color: $color_primary;
}