
.flair:after {background:url(%%set1%%) 0 0} /* Default so we don't need to specify all the set1 */
.flair-vndev, .flair-XXxLishy {
   background: yellow;
   color: black;
}
.flair-vndev:after { background:url(%%vndev%%); }


.linklisting .entry, .commentarea .entry{ padding-left:28px; } /* Provides space for flair image in comments+posts */
.entry .tagline { position:relative; } /* Anchor point for flair */
.expando-button { position:relative; z-index:2; } /* Prevent top half of RES link being lost behind tagline */

.flair:after{ text-indent:-9999px; border:none; width: 24px; height: 45px;}

.sitetable .flair:after{ content:""; position:absolute; left:-27px; top:-18px; } /* Post flair pos */
.commentarea .tagline .flair:after{ content:"";  position:absolute; left:-27px; top:3px; } /* Comment flair pos */
.sitetable .comment .flair:after{ top:3px; } /* Comment listing page position */

.flat-list { overflow: visible; }

.side .flairselector { overflow: visible; width:486px!important; }
.side .flairoptionpane {position:relative;top:0;left:0;height:300px;width:auto!important}
.side .flairselector ul,.flairselector ul li{padding:0px!important;width:24px!important}
.side .flairoptionpane ul li{position:absolute!important}
.side .flairoptionpane ul li a {display:none}
.side .flairsample-right .author { font-size:0pt; }
.side .flairoptionpane .flair { border:none; font-size:0px; width:24px; height:36px; padding:0px; margin:0px; } 
.side .flairoptionpane .flair:after { content:""; float:left; position:relative; top:-10px; padding:0; margin:0; } 
.side .flairselection .flair:after { content:""; position:absolute; left:4px; top:270px; } 
.flairselector input[size="16"] { width:240px; }