/**************** LINK FLAIR AND POST LISTING **************/

/* Comment: might want to replace the shitty unicode images with actual images later for icons 
	reddit doesn't support actual emoji though because it's dumb! */
	



@mixin flair-background($color){
	background: -moz-linear-gradient(left, rgba($color,0) 0%, rgba($color,0) 80%, rgba($color,1) 100%);
	background: -webkit-linear-gradient(left, rgba($color,0) 0%, rgba($color,0) 80%, rgba($color,1) 100%);
	background: -o-linear-gradient(left, rgba($color,0) 0%, rgba($color,0) 80%, rgba($color,1) 100%);
	background: -ms-linear-gradient(left, rgba($color,0) 0%, rgba($color,0) 80%, rgba($color,1) 100%);
	background: linear-gradient(to right, rgba($color,0) 0%, rgba($color,0) 80%, rgba($color,1) 100%);
}

// .RES-keyNav-activeElement.entry { background:transparent; }

.rank { display:none;}

.link {
    /*background:#D2D5E0;*/
    background:white;
    padding:4px 0 4px 0px;
    border-radius:6px;
    box-shadow: 0 0 2px #888888;
}

.link.last-clicked {
    border:none;
}

.link, .linkflair, .link.last-clicked {
    border-left:solid 4px;
}

/* backgrounds on the far right or something */

.linkflair {
    background-position:right center;
    background-repeat:repeat-y;
	position:relative;
}

.linkflair:after {
	content: '';
	position: absolute;
	right:0.1em;top:0;
	margin-top:-0.05em;
	height: 100%;
	display:flex;
    align-items: center; /* Vertical center alignment */
	font-size: 5em;
	margin-left: 0.25em;
}
.linkflair[data-context*="comments"]:after{
	align-items: flex-start;
}


.linkflair-mod {
    border-color: $color-flair-mod;
}
.linkflair-mod:after{
	//content: "✪";
	color: $color-flair-mod;
}

.linkflair-meta {
    border-color: $color-flair-meta;
}
.linkflair-meta:after {
	//content: "☁";
	color: $color-flair-meta;
}

.linkflair-spoiler {
    border-color: $color-flair-spoiler;
}
.linkflair-spoiler:after {
	//content: "✖";
	color: $color-flair-spoiler;
}

.linkflair-announce {
    border-color: $color-flair-announce;
}
.linkflair-announce:after {
	//content: "☎";
	color: $color-flair-announce;
}

.linkflair-crowdfund {
    border-color: $color-flair-crowdfund;
}
.linkflair-crowdfund:after {
	//content: "☭";
	color: $color-flair-crowdfund;
}

.linkflair-weekly {
    border-color: $color-flair-weekly;
}
.linkflair-weekly:after {
	//content: "♾";
	color: $color-flair-weekly;
}

.linkflair-discussion {
    border-color: $color-flair-discussion;
}
.linkflair-discussion:after {
	//content: "☕";
	color: $color-flair-discussion;
}

.linkflair-release {
    border-color: $color-flair-release;
}
.linkflair-release:after {
	//content: "⚠";
	color: $color-flair-release;
}

.linkflair-image {
    border-color: $color-flair-image;
}
.linkflair-image:after {
	//content: "☺";
	color: $color-flair-image;
}

.linkflair-sale {
    border-color: $color-flair-sale;
}
.linkflair-sale:after {
	//content: "♟";
	color: $color-flair-sale;
}

.single-page .linkflair, .search-result {
    background-image:none;
}

/* the actual label itself */

.linkflairlabel{
  border: 0; 
  background:#1d2f2f;
  color:white;
  padding:2px;
  width:62px;
  text-align: center;
  overflow:visible;
  font-size:9px;
  font-weight:600;
  margin-right:2px;
}
.linkflair-meta .linkflairlabel{
    background: $color-flair-meta;
}
.linkflair-spoiler .linkflairlabel{
    background: $color-flair-spoiler;
}
.linkflair-announce .linkflairlabel{
    background: $color-flair-announce;
}
.linkflair-crowdfund .linkflairlabel{
    background: $color-flair-crowdfund;
}
.linkflair-weekly .linkflairlabel{
    background: $color-flair-weekly;
}
.linkflair-discussion .linkflairlabel{
    background: $color-flair-discussion;
}
.linkflair-release .linkflairlabel{
    background: $color-flair-release;
}
.linkflair-image .linkflairlabel{
    background: $color-flair-image;
}
.linkflair-sale .linkflairlabel{
    background: $color-flair-sale;
}

.linkflair-spoiler .title, #siteTable a.title[href*="/spoiler"], #siteTable a.title[href*="/nsfw"] {
 color: red;
}