.sitetable .linkflair-automod .flair:after{ top:-21px; } /* Post flair position */

.linkflair-automod .title .linkflairlabel {
  background:#1d2f2f;
}
.linkflair-automod a.title {
  background:#FFF7E2;
  color:#1d2f2f!important;
  border:1px solid #1d2f2f;
  line-height:1.6em;
  padding:1px 4px 1px 4px !important;
  font-weight:normal!important;
}
.link:not(.linkflair) .del-button::after {
    position: absolute;
    display: block;
    content: "Please click 'flair' to assign the appropriate link flair to this submission.";
    background: yellow;
    border: solid #000 1px;
}
.flat-list.buttons .flairselectbtn { 
    color: black; 
}