
/* sidebar image */
.side a[href*="vndb.org/v562"] { 
  position:absolute;
  top:154px; right:5px; /* for 150px header */ /* 267px when there are 5 buttons, 154px when there's 4 buttons */
  width:300px; height:300px;
  background:url(%%Sidebar%%) 0 0 no-repeat;
}

/* uncomment these next 3 lines to use a 600x300 hover image */
/* 
.side a[href^="https://vndb.org/v"]:hover { 
    background-position:-300px 0;
}*/

.side { padding-top:304px;} /* 417px when there are 5 buttons, 304px when there's 4 buttons */
     