.side { background:transparent}

.side .bottom {display:none}

#header-bottom-right, #userbarToggle {
 border-radius:0 0 0 4px!important;
}

#header-bottom-right {
 position:absolute; top:19px;
 bottom:inherit;
}

.side .linkinfo {
  border-color:#1d2f2f;
  background:#D0E2E2;
}

#header-img { padding-left:15px; }

.subscribe-button a { background:#1d2f2f!important; }

.morelink {
 background:url(%%SubmitButtons%%)!important;
 border-color:#1d2f2f;
}

.morelink a { color:#1d2f2f; }
.morelink:hover a, .morelink a:hover { border-color:#877a54; color:#877a54 }

.nub { display:none; }

.side #search input[type=text] { 
 background:url(%%SearchBox%%) -2px -1px no-repeat #1d2f2f; 
 color:white; 
 height:30px; 
 padding-left: 26px; 
 width:300px
}

.titlebox {
 padding-top:0px; padding-bottom:4px;
 border:solid;
 border-width:1px;
}

.titlebox .toggle, .titlebox .leavemoderator, .titlebox .bottom, .users-online, .titlebox .subscribers{
  margin-left:6px!important; margin-right:4px;
}

.titlebox .usertext p {
  margin-left:6px; margin-right:4px;
}
.titlebox .usertext ul p {
  margin-left:0px!important;
}
.titlebox .usertext ul {
  margin-right:4px;
  padding-left:25px;
}

#header-bottom-left .choice, #viewImagesButton { 
  color:#1d2f2f ; 
  border-color:#1d2f2f ;
  padding-bottom:2px;
  border-bottom-style:none;
} 

.titlebox, .sidecontentbox .content, .flairselector {
  border-color:#1d2f2f;
}
.titlebox .redditname, .titlebox .usertext h2, .titlebox .usertext h2 a, .flairselector h2 {
  background:#1d2f2f;
  color: white;
}

.titlebox, .leavemoderator, .titlebox form, .sidecontentbox .content, .icon-menu a, .flairselector, 
#header-bottom-right, #userbarToggle, .tabmenu a, #viewImagesButton {
  background:#eaf2fe!important; 
}

.titlebox .usertext p { color:#1d2f2f; }

.titlebox .redditname {
  margin: 0px -0px 8px -0px;
  padding:3px 3px 3px 6px;
}

.titlebox .redditname a, .redditname {
  color:white;
}

.titlebox .usertext h2 {
  margin: 8px -0px 8px -0px;
  padding:3px 3px 3px 6px;
}

#header-bottom-left .selected .choice { background:white!important; }

.create { display:none; } 

.side .spacer { margin-top:0px; margin-bottom:0px;}

.side .submit, .side #search { 
  margin-top:8px; margin-bottom:8px;
}

.side .spacer .title {
  background:#1d2f2f;
  color: white;
  padding: 2px 7px 2px 7px;
}

.side .spacer .title h1 {
  color: white;
  font-weight:bold;
}

.side .spacer .helplink {
 color:white;
 padding-right:7px;
}

.titlebox h2 {
    margin-top:34px!important;
    position:relative;
}

.titlebox h2:before {
    position:absolute; right:0px; bottom:0px;
    content:"";
    background:url(%%SidebarSprites%%) no-repeat;
    display:block;
}

.titlebox h2:nth-of-type(1):before {
    background-position: 0 -300px;
    width:80px; height:60px;
}

.titlebox h2:nth-of-type(2):before {
    background-position:  0 -100px;
    width:56px; height:60px;
}

.titlebox h2:nth-of-type(3):before {
    right:2px;
    background-position: 0 -200px;
    width:56px; height:61px;
}

.titlebox h2:nth-of-type(4):before {
    width:94px; height:60px;
}

#header-bottom-left { white-space:nowrap; } /* Prevents tab menu wrapping when window is narrow */

