/* Title bar/dropdown menu options */
:not(:lang(tt)) .side .titlebox .md > blockquote {
	font-size:1em;
	position:absolute; top:195px;  /* for 150px header */
    background:none;
    display: block;
    left: 0.5em; 
    width:calc(100% - 305px - 1em);
	border:0;
	margin:0;
	padding:0;

}
:not(:lang(tt)) .side .titlebox .md > blockquote blockquote:nth-of-type(1) {
	left: $top-links-offset1;
}
:not(:lang(tt)) .side .titlebox .md > blockquote blockquote:nth-of-type(2) {
	left: $top-links-offset2;
}
:not(:lang(tt)) .side .titlebox .md > blockquote blockquote:nth-of-type(3) {
	left: $top-links-offset3;
}
:not(:lang(tt)) .side .titlebox .md > blockquote blockquote:nth-of-type(4) {
	left: $top-links-offset4;
}
:not(:lang(tt)) .drop-choices {
 z-index:200;
}
:not(:lang(tt)) .side .titlebox .md > blockquote blockquote {
 width:$top-links-width;
 margin:0;
 margin-left: 0.5em;
 padding:0;
 border:none;
 z-index:20;
 top: 0;
 position:absolute;
 background-color:transparent;font-family:lato,verdana,sans-serif;font-size:12px
}
:not(:lang(tt)) .side .titlebox .md > blockquote blockquote h5 {
 cursor:default;
 margin:0;
 padding:4px 0px 4px 0px;
 text-align:center;
 background:#1d2f2f;
 color:white;
}
:not(:lang(tt)) .side .titlebox .md > blockquote blockquote h5:hover {
 background:#c6cedc;
 transition:background,0.2s;
}
:not(:lang(tt)) .side .titlebox .md > blockquote blockquote p {
 margin:0;
 padding:0;
 width:100%;
 display:none;
}
:lang(tt) .side .titlebox .md > blockquote blockquote p a {
 width:100%;
 padding-top:4px;
 display:block;
}
:not(:lang(tt)) .side .titlebox .md > blockquote blockquote p a {
 display:inline-block;
 border:1px solid #d3dcea;
 border-top:none;
 background:#eaf2fe;
 box-sizing: border-box;
 width:100%;
 margin:0px;
 padding:4px;
 text-align:center;
 color:#1d2f2f;
}
:not(:lang(tt)) .side .titlebox .md > blockquote blockquote p a:hover {
 background:#ffffff;
 transition: background, 0.3s;
}
.side .titlebox .md > blockquote blockquote h5:hover + p, .side .titlebox .md > blockquote blockquote p:hover, .side .titlebox .md > blockquote blockquote:hover {
 display:block;
}